---
---

@import "{{ site.theme }}";

.site-title, .footer-heading {
  margin-top: 10px;
  color: transparent;

  &:visited, &:hover {
    color: transparent;
  }
}

.site-title::before, .footer-heading::before {
  content: "";
  display: inline-block;
  width: 157px;
  height: 40px;
  background-image: url("/assets/images/maykin-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
